/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 26, 2015, 9:10:22 PM
    Author     : Student
*/
body {
    background: url("https://lowsimin.files.wordpress.com/2012/08/allstartwithdoraemon1.png");
}
p {
    color: black;
    background: white;
}
Img {
    height: 270px;
    width: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.p1 {
    background: url("http://s3-media1.fl.yelpcdn.com/bphoto/mqScPDt2j0P7FdW9s474UA/o.jpg");
}
.p2 {
    background: url("http://s3-media3.fl.yelpcdn.com/bphoto/Er9SlJUA4nzIkIpRGuDvHg/o.jpg");
}
h1, h2 {
    background: url("http://texturelib.com/Textures/wood/planks%20new/wood_planks_new_0025_01_preview.jpg");
}
.body2 {
    background: url("http://www.wall321.com/thumbnails/detail/20120809/landscapes%20nature%20winter%20snow%201920x1080%20wallpaper_www.wall321.com_5.jpg");
}
.h3 {
    background: black;
    color: white;
}
.peewee {
    font-size: 2em;
}
a {
    color: black;
    border-style: inset;
   border-width: thick;
   border-color: silver;
}
a:hover {
    font-size: 2em;
}