/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 26, 2015, 10:30:37 PM
    Author     : Student
*/

img {
    height: 170px;
    width: auto;
}
body {
    background: url("http://www.kitgraf.com/images/nature/picture-japanese-line-drawing-of-plant-flowers-vector-material-49-free-nature-vector-download.jpg");
}
a {
    border-style: inset;
    border-width: thick;
    color: silver;
    background: black;
}