/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2015, 12:03:54 PM
    Author     : Student
*/
.sm {
    height: 30px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background: silver;
}
body {
    background: url("http://download.4-designer.com/files/20121216/Japanese-traditional-tiled-background-vector-material-Series-43-Vector-24822.jpg");
}
    

h1, a {
    text-align: center;
    background: #242424;
    font-style: italic;
}
h1 {
    font-size: 3em;
    color: white;
}
img {
    height: 270px;
    width: auto;
    margin-left: auto;
        margin-right: auto;
}
li, a {
    text-align: center;
    color: white;
    font-size: 1.3em;
}
.sm:hover {
    background: silver;
    height: 50px;
    width: auto;
}
.out {
    height: 200px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
li:hover {
   font-size: 1.5em;
}
.contact {
   font-size: 1.5em;
   text-align: center;
   background: white;
}
label {
    background: white;
}
.body2 {
    background: url("https://s-media-cache-ak0.pinimg.com/236x/01/a7/d9/01a7d94c0331b24e8ffbf0f123f575c6.jpg");
    
}
a {
    color: black;
    border-style: inset;
   border-width: thick;
   border-color: silver;
}
a:hover {
    font-size: 2em;
}
